:root {
    --attention-clr-1: #bb86fc;
    --attention-clr-2: #86aafc;
    --attention-clr-3: #8f8f8f;
    --attention-clr-4: #455566;
    --attention-clr-5: #616ec6;  
    --c-carbon-0: #eef1f3;
    --c-carbon-10: #d7dde2;
    --c-carbon-20: #b4bcc6;
    --c-carbon-30: #98a2ad;
    --c-carbon-40: #7d8894;
    --c-carbon-50: #677483;
    --c-carbon-60: #556170;
    --c-carbon-70: #434f5e;
    --c-carbon-80: #35404e;
    --c-carbon-90: #222d3a;
    --c-carbon-100: #03060b;
    --main-blue: #0054e9;
    --header-height: 60px;
    --body-color: #ecebef;
    --input-bck-clr: white;
    --info-bck-clr: #ecebef;
    --footer-bck-clr: white;
    --footer-btn-bck-clr: #e6e6e6;
    --text-clr:#333;
    --element-color: transparent;
    --sub-element-color: white;
    --dialog-border-radius: 20px;
    --dialog-bck-clr: var(--body-color);
    --project-border-radius: 6px;
    --project-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    --assessment-circle: var(--body-color);
    --img-border-radius: 12px;
    --img-border-radius-small: 4px;
    --element-spacer-height: 200px;
    --back-arrow-header-fill: var(--text-clr);
    --pr-do-bck-clr: var(--footer-btn-bck-clr);
    --pr-do-tmp-cl: auto 1fr;
    --pr-do-border-radius: 50px;
    --pr-do-width: fit-content;
    --pad-edit-btn-clr: #6C757D;
    --overlay-dialog-top: -30px;
    --img-grid-gap: 1px;
    --img-br-radius: 3px;
    --btn-padding:16px 32px;
    --btn-bck-clr: #455566;
    --btn-clr: #fff;
    --btn-border-radius: 12px;
    --ripple-effect-bck: rgba(255, 255, 255, 0.6);
    --img-max-height: max-content;
    --image-repeats: 4;
    --ripple-box-shadow: none;
    --primary_clr: #98a2ad;
    --secondary_clr: lightgrey;
    --lable-top: -15px;
    --label-weight: 300;
    --label-size: 90%;
    --lable-color: var(--main-blue);
    --lable-left: -5px;
    --input-padding: 10px;
    --input-clr: var(--text-clr);
    --input-margin: 30px 0;
    --input-align: left;
    --check-hover:.2s;
    --base-color:#fff;
    --window-blue-header-bck-color:hsl(210,79%,60%);
    --hover-clr: aliceblue;
    }

/* Styles for mobile web */
@media (min-width: 768px) {
  body {
--img-max-height: 400px;
  --image-repeats: 10;
  }
}

.svg-main-clr{
  fill: var(--text-clr)
}

.primary_clr{
  fill: var(--primary_clr);
}

.secondary_clr{
  fill: var(--secondary_clr);
}

._element{
  background-color: var(--input-bck-clr);
  border-radius: var(--project-border-radius);
  /* box-shadow: var(--project-box-shadow); */
  padding: 10px;
}

ul{
    margin: 0 0 0 18px;
}

.footer-menu {
  --f-path-fill:  var(--attention-clr-4);
  --f-cirlce-fill:  var(--footer-btn-bck-clr)
}

.burger-menu-div{
  display: flex;
}

.burger-menu-x {
fill:  var(--attention-clr-4)
}

.footer-menu.open{
  --f-path-fill:  var(--footer-bck-clr);
  --f-cirlce-fill: var(--attention-clr-5);
}

.footer-menu > path {
  fill: var(--f-path-fill);
}

.footer-menu > circle {
  fill: var(--f-cirlce-fill);
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; /* Full viewport height */
  text-align: center;
  font-size: 1.5rem; /* Adjust font size as needed */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="file"] {
display:none;
}

input[type="text"], textarea {
color: var(--input-clr);
text-align: var(--input-align);
}

textarea{
  resize: none;
  overflow: hidden;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  letter-spacing: 0.072px;
}

body{
  background-color: var(--body-color);
  color: var(--text-clr)
}

._t, ._tb{
    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    justify-content: center;
    position: relative;
    letter-spacing: .0107142857em;
    max-width: -webkit-fill-available;
    user-select: none;
    text-align: left;
}

._tb{
    white-space: normal;
}

.app-container-result {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.app-container-images {
  display: grid;
  /* grid-template-rows: 1fr var(--footer-height); */
  height: 100vh;
}

.header {
  background-color: var(--header-bck-color);
  padding: 0 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  top: 0;
}

.overlay-dialog-container.mid{
  --overlay-margin: 15px;
}

.overlay-dialog-container{
  --overlay-margin: 30px;
  --header-op-grid-template-columns: 1fr auto;
  --dialog-distance: 20px;
  --dialog-header-height: 50px;
  position: fixed;
  top: var(--overlay-dialog-top);
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: var(--overlay-margin);
  box-sizing: border-box;
  z-index: 9999;
    justify-content: center;
}

.overlay-dialog-container.create{
  --overlay-margin: 30px;
  --header-op-grid-template-columns: 1fr auto;
}

/* The fixed header inside the overlay */
.dialog-header {
  width: calc(100% - var(--overlay-margin) * 2); /* Account for 20px margin on both sides */
  position: fixed;
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--dialog-bck-clr);
  border-radius: var(--dialog-border-radius) var(--dialog-border-radius) 0 0;
  --header-op-padding: 0 var(--dialog-distance);
  height: var(--dialog-header-height);
  transition: height 0.25s ease;
  position: fixed;
  z-index: 1000;
  display: grid;
  grid-template-columns: var(--header-op-grid-template-columns);
  align-items: center;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  padding: var(--header-op-padding);
  --header-font-size: 15px;
  --header-font-weight: bold;
}

.dialog-header.shrink {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
}

.header.opacity {
  --header-op-grid-template-columns: auto 1fr auto;
  --header-op-padding: 0 20px 0 10px;
  --header-title-justify: left;
  height: var(--header-height);
  transition: height 0.25s ease;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 998;
  display: grid;
  grid-template-columns: var(--header-op-grid-template-columns);
  align-items: center;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  padding: var(--header-op-padding);
  --header-font-size: 18px;
  --header-font-weight: 400;
}

.header.opacity.main{
    --header-op-grid-template-columns: auto 1fr auto;
}

.header.opacity.assessment{
    --header-op-grid-template-columns: 25px 1fr auto;
}

.header.opacity.result{
    --header-op-grid-template-columns: auto 1fr 25px 25px;
    --header-op-padding: 0 15px;
}

.header.opacity.result.shrink, .header.opacity.main.shrink {
  --header-op-grid-template-columns: 1fr;
}

header.opacity.shrink {
  --header-op-padding: 0 15px;
  --header-op-grid-template-columns: 1fr;
  --header-font-size: 15px;
  --header-height: 35px;
  --header-title-justify: center;
}

.header-icon-shrinked > svg{
  width: 70%;
  height: 70%;
}

.header-item{
  display: flex;
}

.header-title {
  display: flex;
  font-size: var(--header-font-size);
  font-weight: var(--header-font-weight);
  justify-content: var(--header-title-justify);
  margin: 0 10px;
  color: var(--attention-clr-4);
}

.header.menu, header.project {
  grid-template-columns: 1fr auto;
}

.header-close{
    color: var(--main-blue);
    font-weight: 300;
}

.content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS */
  background-color: transparent;
}

.footer {
  background-color: transparent;
  padding: 5px;
  text-align: center;
}

.swiper{
  width: 100%;
}

/* @media (max-width: 600px) {

} */

.project-box{
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: var(--project-border-radius);
    display: grid;
    grid-template-columns: 1fr 40px;
    justify-content: center;
    align-items: center;
    box-shadow: var(--project-box-shadow)
}

.project-box-title{
    font-weight: 700;
}


.overlay-scroll{
  background-color: var(--dialog-bck-clr);
  border-radius: var(--dialog-border-radius) var(--dialog-border-radius) 0 0;
  overflow-y: scroll;
}

.overlay-scroll::-webkit-scrollbar {
  display: none;
}

/* The custom scrollbar appearance */
.overlay-scroll.bar::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

/* The track of the scrollbar */
.overlay-scroll.bar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* The thumb of the scrollbar (the draggable part) */
.overlay-scroll.bar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.ppp{
  height: 200px;
}

.content-scroll{
    width: 100%;
    background-color: var(--dialog-bck-clr);
    overflow: auto;
    padding: var(--dialog-distance);
    /* padding-top: calc(var(--header-height) + 5px); */
    padding-top: var(--header-height);
}

/* Popup.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #B3B3B3;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 3s ease;
}

.popup-content {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 25px;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-content-text {
  width: 100%;
}

.popup-content-close {
    background-color: var(--main-blue);
    color: white;
    padding: 5px 10px 6.5px 10px;
    border-radius: 8px;
}

/* START PAGE */

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: white;
  color: #333;
  padding: 20px;
  --project-border-radius: 5px;
  --input-bck-clr: #CCE5FF;
  --input-padding: 10px;
  --lable-text-align: center;
  --lable-top: -20px;
  --label-weight: 500;
  --label-size: 110%;
  --lable-color: #0051A8;
  --input-clr: darkblue;
  --input-margin: 50px 0;
  --input-align: center;
}

.start-page-text {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.start-page-steps {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}
.text-blocks{
  margin: 10px 5px;
  width: 100%;
}

.text-block-li{
    text-align: center;
    margin: 20px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.067px;
    font-weight: 400;
}

.ripple-container {
  position: relative;
  overflow: hidden; /* Ensure the ripple stays within the container */
  padding: var(--btn-padding);
  background-color: var(--btn-bck-clr); /* Example background */
  color: var(--btn-clr);
  border-radius: var(--btn-border-radius);
  text-align: center;
  user-select: none;
  -webkit-user-select: none; /* Safari and older Chrome */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer */
  width: 100%;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--ripple-box-shadow);
}
.ripple-container.project-dongle, .ripple-container.assessment-dongle{
  min-width: unset;
}

.ripple-container .ripple {
  position: absolute;
  border-radius: 50%; 
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
  background: var(--ripple-effect-bck);
  pointer-events: none;
  transform-origin: center center;
  will-change: transform, opacity; 
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

/* ripple-button-variations */

.start-page-button {
    --btn-padding: 8px 25px;
    --btn-bck-clr: #1083FE;
    --btn-clr: white;
    --btn-border-radius: 5px;
    border-radius: var(--btn-border-radius);
    width: 100%;
    font-weight: 500;
        margin: 80px 0;
}

.slogan{
      font-size: small;
    font-weight: 600;
    color: #43586D;
    margin: 0 60px 30px 60px;
}

  .btn-row.create{
display: flex;
margin: 0;

  }

  .btn-row-single{
margin: 20px;
  }

.def-btn{
    --btn-padding: 10px 20px 11px 20px;
    --btn-bck-clr: #8080FF;
    --btn-clr: white;
    --btn-border-radius: 50px;
    border-radius: var(--btn-border-radius);
    width: fit-content;
}

.small-btn{
    --btn-padding: 8px 20px 9px 20px;
    --btn-bck-clr: #1083FE;
    --btn-clr: white ;
    --btn-border-radius: 50px;
    border-radius: var(--btn-border-radius);
    width: fit-content;
    font-weight: 400;
}

.footer-btn{
    --ripple-effect-bck: rgba(0, 0, 0, 0.15); /* Darker ripple effect */
    --btn-padding: 5px 20px 6px 20px;
    --btn-bck-clr: ghostwhite;
    --btn-clr: var(--text-clr);
    --btn-border-radius: 50px;
    border-radius: var(--btn-border-radius);
    width: fit-content;
    margin: 10px;
}

.floating-btn{
    --btn-padding: 8px 20px 9px 20px;
    margin: 5px 0;
    --btn-border-radius: 50px;
    --ripple-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    min-width: 150px;
}



.lds-circle,
.lds-circle div {
  box-sizing: border-box;
}
.lds-circle {
  transform: translateZ(1px);
    display: flex;
    align-items: center;
    justify-content: center;
margin: 0 10px 0 0;
}
.lds-circle > div {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  animation: lds-circle 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}



.svg-btn {
  --ripple-effect-bck: rgba(0, 0, 0, 0.15); /* Darker ripple effect */
  --btn-padding: 0;
  --btn-bck-clr: white;
  --btn-border-radius: 50px;
}

.svg-btn-ripple {
    width: 47px;
    height: 47px;
}

.small-btn-svg > path, .small-btn-svg > polygon{
  fill: #8080FF;
}

/* Loader */

.loadingBarContainer {
      width: 100%;
      height: 3px;
      background-color: #e0e0e0;
position: fixed;
top: var(--header-height);
    }

.loadingBar {
      width: 0%;
      height: 100%;
      background-color: #3b5998;
      transition: width 2s; /* CSS transition for smooth animation */
    }

    .loading {
  width: 100%; /* Target width when loading */
}