/* OverlayDialog.css */

.overlay-dialog {
  position: fixed; /* Position relative to the viewport */
  top: 0;          /* Cover the entire screen */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;   /* Use flexbox to center the dialog */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  z-index: 999; /* Ensure it appears above other content */
  opacity: 0; /* Start as invisible */
  transition: opacity 0.3s ease; /* Smooth transition for fading */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

}

.overlay-dialog.show {
opacity: 1; /* Make visible when open */
}

.overlay-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-added{
    display: flex;
}

.dialog-content{
    width: 100%;
    background-color: var(--dialog-bck-clr);
    padding: 10px;
    overflow: auto;
    padding-top: calc(var(--header-height) + 5px);
}

.floating-btn-divider{
  width: 180px;
  border: 0.5px dashed darkgray;
  margin: 5px;
  
}


/* CheckBox */


._checkbox {
  cursor:pointer;
  }
  
  .checkbox-row{
    display: grid;
    user-select: none;
    grid-template-columns: 35px 1fr;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
  }
  
  .checkbox-logo {
    display: flex;
    justify-content: center;
}

  .checkbox-row:hover ._ch_b_c {
  animation-duration:var(--check-hover);
  animation-fill-mode:forwards;
  animation-name:chb;
  animation-timing-function:ease-in-out
  }
  
  @keyframes chb {
  to {
  fill: var(--window-blue-header-bck-color)
  }
  }
  
  .checkbox-row:hover ._ch_b_s {
  animation-duration:var(--check-hover);
  animation-fill-mode:forwards;
  animation-name:chs;
  animation-timing-function:ease-in-out
  }
  
  @keyframes chs {
  to {
  fill:var(--base-color)
  }
  }
  
  .checkbox-row:hover {
  background-color:var(--hover-clr);
  cursor:pointer
  }

.dialog-content.assessment{
    padding: 0;
}

.dialog-footer{
    width: 100%;
    background-color: var(--dialog-bck-clr);
    border-radius: 0 0 var(--dialog-border-radius) var(--dialog-border-radius); 
        min-height: 35px;
            display: flex;
    justify-content: center;
}

/* Settings */

.content.settings{
    margin: 20px;
}

.settings-box:not(:first-child) {
    margin: 25px 0;
}

.slider-wrapper{
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.settings-box-ripple{
      --ripple-effect-bck: rgba(0, 0, 0, 0.15); /* Darker ripple effect */
    --btn-padding: 10px;
    --btn-bck-clr: var(--input-bck-clr);
    --btn-clr: var(--text-color) ;
    --btn-border-radius: var(--project-border-radius);
    border-radius: var(--btn-border-radius);
    width: 100%;
}

.settings-box-title{
    color: var(--c-carbon-40);
    font-weight: 200;
    text-align: left;
    white-space: break-spaces;
    margin: 0 0 3px 4px;
}

.dialog-content-project-title{
  display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    background-color: floralwhite;
    font-weight: 700;
    border-radius: 50px;
}

._flicker {
  animation: flickerOnceAnimation 0.5s forwards;
}

@keyframes flickerOnceAnimation {
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}

.dialog-header-svg-icon{
    display: flex;
    padding: 0 10px 0 0;
}

/* FloatingAction */

.fab-container {
  position: fixed;
  right: 15px;
  z-index: 9999;
}

.fab-container.bottom {
  bottom: 120px;
}

.fab-container.top {
top: calc(var(--header-height) + 5px);
}


.fab {
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fab-buttons {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    --btn-padding: 7px 15px;
    --btn-bck-clr: var(--attention-clr-5);
    --btn-clr: white;
    --btn-border-radius: 12px;
    font-weight: 400;
    border-radius: var(--btn-border-radius);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
